.profile-button {
  border-radius: 50px;
  height: 30px;
  width: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: center;
  font-size: 18px;
  background-color: white;
  /* position: relative; */
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 110%;
  width:  190px;
}

.logo {
  transform: rotate(180deg);
  max-width: 40px;
}

ul {
  list-style: none;
}

.nav {
  border-bottom: solid 2px #CCCCCC;
  margin: 0px -15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}


.create-new-spot {
  text-decoration: none;
  color: #00525E;
  margin: 10px;
}

.manage-spots {
  text-decoration: none;
  color: inherit;
}

.drop-down-user-info>li {
  cursor: default;
}
.logout-button {
  border-radius: 20px;
  align-self: center;
  display: block;
  margin: 0 auto;
  height: 38px;
  width: 80px;
  border: 2px solid black;
  background-color: #646464;
  color: white;
}

.profile-option-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.profile-dropdown {
  cursor: pointer;
  font-size: 14px;
  margin: 0px 0px;
  padding: 2px 2px;
  border: 2px solid black;
  text-align: left;
  /* position: absolute; */
  background-color: white;
  
  word-wrap: break-word;

}

.hidden {
  display: none;
}

.home-icon {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  color: #ea5b62
}